extends ../layout

block content
  a(href='/') Inicio
  br
  a(href='/mototaxis/create') Nuevo mototaxi
  table.table
    thead
      tr
        th(scope='col') id
        th(scope='col') Color
        th(scope='col') Modelo
        th(scope='col') Ubicacion
        th(scope='col')
    tbody
      each moto in motos
        tr
          th(scope='row') 
            = moto.id
          td= moto.color
          td= moto.modelo
          td= moto.ubicacion
          td
            a(href='mototaxis/'+moto.id+'/update') Editar
          td
            form.inline(method='post' action='mototaxis/'+ moto.id +'/delete')
              input(type='hidden' name='id' value= moto.id)
              button.link-button(type='submit' name='submit_param' value='submit_value' class='btn')
                = 'Eliminar'