extends ../layout

block content
  a(href='/mototaxis') Volver

  br
  br
  br

  h1 Modificar Mototaxi

  br
  br

  form(action=`/mototaxis/${mototaxi.id}/update` method='post')
    label(for='id') ID:
    input#id(type='text' name='id' value= mototaxi.id)
    br
    label(for='color') Color:
    input#color(type='text' name='color' value=mototaxi.color)
    br
    label(for='modelo') Modelo:
    input#modelo(type='text' name='modelo' value=mototaxi.modelo)
    br
    label(for='lat') Latitud:
    input#modelo(type='text' name='lat' value=mototaxi.ubicacion[0])
    br
    label(for='lng') Longitud:
    input#modelo(type='text' name='lng' value=mototaxi.ubicacion[1])
    br
    input.btn(type='submit' value='OK')
