extends layout

block content
  // Navigation
  nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
    .container
      a.navbar-brand.js-scroll-trigger(href='#page-top') MotoRed
      button.navbar-toggler.navbar-toggler-right(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarResponsive.collapse.navbar-collapse
        ul.navbar-nav.ml-auto.my-2.my-lg-0
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#about') Informacion
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#projects') MotoTaxis
          li.nav-item
            a.nav-link.js-scroll-trigger(href='/mototaxis') Lista
          li.nav-item
            a.nav-link.js-scroll-trigger(href='#contact') Contacto
  // Masthead
  header.masthead
    .container.h-100
      .row.h-100.align-items-center.justify-content-center.text-center
        .col-lg-10.align-self-end
          h1.text-uppercase.text-white.font-weight-bold Red de mototaxistas
          hr.divider.my-4
        .col-lg-8.align-self-baseline
          p.text-white-75.font-weight-light.mb-5
            | La primera comunidad de mototaxistas online
          a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#projects') Encuentra tu jaiba mas cercana
  // About
  section#about.page-section.bg-primary
    .container
      .row.justify-content-center
        .col-lg-8.text-center
          h2.text-white.mt-0 Encuentra los motoanexos mas cercanos
          hr.divider.light.my-4
          p.text-white-50.mb-4
            | Disfruta de la mejor red de mototaxistas
          a.btn.btn-light.btn-xl.js-scroll-trigger(href='/mototaxis') Encontrar
  //Project Section
  section#projects.projects-section.bg-light
    .container
    #main_map
  // Services
  section#services.page-section
    .container
      h2.text-center.mt-0 A tu servicio
      hr.divider.my-4
      .row
        .col-lg-3.col-md-6.text-center
          .mt-5
            i.fas.fa-4x.fa-gem.text-primary.mb-4
            h3.h4.mb-2 Modelos
            p.text-muted.mb-0 Diferente modelos de mototaxis
        .col-lg-3.col-md-6.text-center
          .mt-5
            i.fas.fa-4x.fa-laptop-code.text-primary.mb-4
            h3.h4.mb-2 Actualizados
            p.text-muted.mb-0 Modelo de red siempre actualizada
        .col-lg-3.col-md-6.text-center
          .mt-5
            i.fas.fa-4x.fa-globe.text-primary.mb-4
            h3.h4.mb-2 Seguridad
            p.text-muted.mb-0 Mototaxis seguros
        .col-lg-3.col-md-6.text-center
          .mt-5
            i.fas.fa-4x.fa-heart.text-primary.mb-4
            h3.h4.mb-2 Hecho con amor
            p.text-muted.mb-0 
  // Contact
  section#contact.page-section
    .container
      .row.justify-content-center
        .col-lg-8.text-center
          h2.mt-0 A tu disposicion
          hr.divider.my-4
          p.text-muted.mb-5
            | Contactame 
      .row
        .col-lg-4.ml-auto.text-center.mb-5.mb-lg-0
          i.fas.fa-phone.fa-3x.mb-3.text-muted
          div +1 (555) 123-4567
        .col-lg-4.mr-auto.text-center
          i.fas.fa-envelope.fa-3x.mb-3.text-muted
          // Make sure to change the email address in BOTH the anchor text and the link target below!
          a.d-block(href='mailto:contact@yourwebsite.com') death1027@outlook.com
  // Footer
  footer.bg-light.py-5
    .container
      .small.text-center.text-muted Copyright &copy; 2020 - Alan B.
  // Bootstrap core JS
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')
  script(src='https://code.jquery.com/jquery-3.5.1.min.js' integrity='sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=' crossorigin='anonymous')

  // Third party plugin JS
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')
  // Core theme JS
  script(src='/javascripts/scripts.js')
  script(src='/javascripts/map.js')

